html
    head
        title= title

body
    h1= message
    <p>This is a plain paragraph from p tag with some <b>bold</b> words. </p>

    <div>This comes from a div tag. PUG is cleaner than EJS. Depends on personal taste. I like PUG. </div>